<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Tabla de profesores</title>
    <%- include('partials/head.ejs') %>

    <!-- Estilos de Bootstrap -->
    
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/crear" class="btn btn-outline-primary fs-2 btn-block"> Agregar <i
                        class='bx bxs-plus-circle'></i></a>
            </div>

            <h1>Tabla de profesores</h1>
            <table id="miTabla" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Categoría</th>
                        <th>Dedicación</th>
                        <th>Fecha de ingreso</th>
                        <th>Fecha de egreso</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                <% results.forEach(profesor => { %>
                    <tr> 
                    <td><%= profesor.cedulaprof %></td>
                    <td><%= profesor.nombrep %></td>
                    <td><%= profesor.direccionp %></td>
                    <td><%= profesor.telefonop %></td>
                    <td><%= profesor.categoria %></td>
                    <td><%= profesor.dedicacion %></td>
                    <td><%= profesor.fechaing %></td>
                    <td><%= profesor.fechaegr %></td>
                    <td><%= profesor.statusp %></td>
                    <td>
                        <a href="/editar/<%= profesor.cedulaprof %>" class="btn btn-outline-info"><i class='bx bxs-pencil fs-5'></i></a>
                        <a onclick="confirmar('/borrarProfe','<%= profesor.cedulaprof %>')" class="btn btn-outline-danger">
                            <i class='bx bxs-trash'></i></a>
                    </td>
                    <% }); %>
                    <tr> 
                </tbody>
            </table>
        </div>
    </div>

    

    <!-- Script personalizado para inicializar DataTables -->
    
    <%- include('partials/scripts.ejs') %>

</body>
</html>